@font-face {
	font-family: "Liberation Sans";
	font-weight: bold;
	src: local("Liberation Sans Bold"),
		 url("fonts/LiberationSans-Bold.woff2") format("woff2"),
		 url("fonts/LiberationSans-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "Liberation Sans";
	font-weight: normal;
	src: local("Liberation Sans"),
		 url("fonts/LiberationSans-Regular.woff2") format("woff2"),
		 url("fonts/LiberationSans-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "Roboto";
	font-weight: medium;
	src: local("Roboto"), 
		 url("fonts/Roboto-Medium.woff2") format("woff2"),
		 url("fonts/Roboto-Medium.ttf") format("ttf");
}

@font-face {
	font-family: "Lucida Console";
	font-weight: normal;
	src: local("Lucida Console"), 
		 url("fonts/Lucida-Console.woff2") format("woff2"),
		 url("fonts/Lucida-Console.ttf") format("ttf");
}

body {
	font-family: "Liberation Sans";
	font-weight: normal;
	background-color: #F0F0F0;
	width: 90%;
	margin: 15px auto;
}

header {
	text-align: center;
	background-image: linear-gradient(to right, lightblue, aliceblue);
	padding: 10px;
}

header > h1 {
	font-family: "Lucida Console";
}

header > * {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	padding: 0px 10px;
}

header > nav {
	text-align: justify;
}

header > nav > div {
	display: inline-block;
}

header > nav > div > ul {
	display: inline-block;
	text-align: center;
}

header > nav ul li {
	display: inline-block;
	float: left;
	font-family: "Roboto";
	font-weight: medium;
}

a.btn {
	background-image: linear-gradient(to bottom, #fefefe, #cfcfcf);
	text-decoration: none;
	text-align: center;
	border: 1px solid;
	border-radius: 7px;
	color: #333333;
	min-width: 80px;
	display: inline-block;
	padding: 5px;
}

a.btn:hover, a.btn:active {
	text-decoration: none;
	background-color: #cfcfcf;
	background-image: none;
}

a.btn:active {
	box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.25);  
}

ul.btn-group {
	padding: 0;
	margin: 10px 0;
}

ul.btn-group > li > .btn {
	border-left: 0;
	border-radius: 0;
}

ul.btn-group > li:first-child > .btn {
	border-left: 1px solid;
	border-radius: 7px 0 0 7px;
}

ul.btn-group > li:last-child > .btn {
	border-radius: 0 7px 7px 0;
}

@media screen and (max-width: 500px) {
	ul.btn-group > li > .btn {
		margin: 5px;
		border: 1px solid;
		border-radius: 7px !important;
	}

	nav > ul.btn-group > li {
		width: 45%;
		text-align: center;
	}

	ul.btn-group{
		margin: 0;
	}
}

@media screen and (max-width: 300px) {
	nav > ul.btn-group > li {
		width: 90%;
		text-align: center;
	}
}

img.logo {
	height: 80px;
}

.card {
	border: 1px solid #d0d0d0;
	border-radius: 10px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
	margin: 10px 0;
}

.card-header {
	font-family: "Liberation Sans";
	font-weight: bold;
	border-radius: 10px 10px 0 0;
	text-align: center;
	background-image: linear-gradient(to bottom, #fefefe, #d8d8d8);
	line-height: 2em;
	margin: 0;
}

.card-body {
	border-radius: 0 0 10px 10px;
	background-color: #fff;
	padding: 2vw;
}

div.catalog-entries {
	text-align: center;
}

.catalog-entries > span {
	margin: 5px 5px;
	display: inline-block;
	width: 280px;
	max-width: 90%;
	min-height: 425px;
	vertical-align: top;
	padding: 5px;
	box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.25);
}

.catalog-entries > span > h4 {
	font-family: "Liberation Sans";
	font-weight: bold;
	padding: 10px 5px;
	margin: 0 20px;
	background-image: linear-gradient(to bottom, #ffffff, #e2e2e2);
	text-align: center;
	border: 1px solid #d8d8d8;
	border-radius: 2em;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.catalog-entries > span > img {
	width: 90%;
}

.demo-content {
	text-align: center;
}

.demo-content > video {
	width: 90%;
	max-width: 800px;
}

input, textarea {
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);
}

input, select, textarea { 
	max-width: 90%;
	border: 1px solid;
	padding: 5px;
	border-radius: 5px;
	margin: 5px 0;
}

input[type=submit] {
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	box-shadow: none;
	text-align: center;
	border: 1px solid darkgreen;
	border-radius: 7px;
	color: white;
	min-width: 80px;
	display: inline-block;
	font-weight: normal;
}

input[type=submit]:hover, input[type=submit]:active {
	text-decoration: none;
	background-color: #51a351;
	background-image: none;
}

input[type=submit]:active {
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.40), 0 1px 2px rgba(0, 0, 0, 0.30);
}

input[type=reset] {
	background-image: linear-gradient(to bottom, #fefefe, #cfcfcf);
	box-shadow: none;
	text-align: center;
	border: 1px solid darkred;
	border-radius: 7px;
	color: darkred;
	min-width: 80px;
	display: inline-block;
	font-weight: normal;
}

input[type=reset]:hover, input[type=reset]:active {
	text-decoration: none;
	background-color: #cfcfcf;
	background-image: none;
}

input[type=reset]:active {
	box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.25);   
}

footer .card-header {
	background-image: linear-gradient(to bottom, aliceblue, lightblue);
}

footer .card-body {
	background-color: aliceblue;
}

footer .card-body > * {
	vertical-align: top;
}

footer a img {
	width: 2em;
	height: 2em;
}

footer a:hover img {
	filter: brightness(0.8);
}

footer a:active img {
	filter: brightness(0.6);
}

footer .up-btn {
	line-height: 1em !important;
	min-width: 1em !important;
    padding: 5px;
    font-size: 20px;
}

footer .copyleft {
	vertical-align: top;
	width: 1em;
	height: 1em;
}