<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<title>FastRail - Личный кабинет</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/index.css">
	</head>
	<body>
		<header>
			<nav class="navbar">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" href="/"><img src="/static/img/logo.svg"><span class="brand-name">FastRail</span></a>
						<div class="nav-collapse collapse navbar-responsive-collapse">
							<ul class="nav">
								<li class="divider-vertical"></li>
								<li><a href="timetable">Расписание поездов</a></li>
								<li class="divider-vertical"></li>
								<li><a href="board">Виртуальное табло</a></li>
							</ul>
							<ul class="nav pull-right">
								<li class="divider-vertical"></li>
								<li class="active"><a href="#"><b>{{ user.email }}</b></a></li>
								<li class="divider-vertical"></li>
								<li><a href="/logout">Выход</a></li>
							</ul>
						</div><!-- /.nav-collapse -->
					</div>
				</div><!-- /navbar-inner -->
			</nav><!-- /navbar -->
		</header>
		<main>
			<div class="well">
				<p><b>ID:</b> {{ user.id }}</p>
				<p><b>E-mail:</b> {{ user.email }}</p>
				<p><b>Активен?:</b> {{ user.is_active }}</p>
				<p><b>Админ?</b> {{ user.is_admin }}</p>
			</div>
		</main>
		<footer>
			<img src="/static/img/copyleft.svg" class="copyleft"> <span>FastRail 2019</span>
		</footer>
		<script src="/static/js/jquery-2.2.4.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
</html>