<!DOCTYPE HTML>
<html lang="ru">
	<head>
		<title>Volvo Trucks</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="HandheldFriendly" content="true">
		<link rel="stylesheet" type="text/css" href="static/index.css">
		<meta http-equiv="Cache-Control" content="no-cache">
	</head>
	<body>
		<header class="card">
			<a href="#"><img class="logo" src="img/logo.svg" alt="Volvo" title="Volvo"></a>
			<h1>Volvo Trucks</h1>
			<nav>
				<ul class="btn-group">
					<li><a class="btn" href="#catalog">Каталог</a></li>
					<li><a class="btn" href="#demo">Демо</a></li>
					<li><a class="btn" href="#buy">Купить</a></li>
					<li><a class="btn" href="#footer">Контакты</a></li>
				</ul>
		</nav>
		</header>
		<main>
			<div class="card">
				<h3 id="catalog" class="card-header">Каталог</h3>
				<div class="catalog-entries card-body">
					<span class="card">
						<div><img src="img/volvo_fh16.jpg" alt="Volvo FH16" title="Volvo FH16"></div>
						<h4>Volvo FH16</h4>
						<p>Наш самый мощный грузовой автомобиль в линейке, предназначенный для самых сложных задач</p>
					</span>
					<span class="card">
						<div><img src="img/volvo_fl.jpg" alt="Volvo FL" title="Volvo FL">
						</div><h4>Volvo FL</h4>
						<p>Легкий, маневренный и оптимизированный для внутригородских перевозок</p>
					</span>
					<span class="card">
						<div><img src="img/volvo_fmx.jpg" alt="Volvo FMX" title="Volvo FMX"></div>
						<h4>Volvo FMX</h4>
						<p>Современный грузовой автомобиль для строительных работ. Выносливый, прочный и наполненный современнейшими технологиями</p>
					</span>
				</div>
			</div>
			<div class="card">
				<h3 class="card-header" id="demo">Демо</h3>
				<div class="card-body demo-content">
					<video width="70%" poster="img/demo_preview.jpg" controls>
						<source src="video/emergency_braking.mp4#t=15" type="video/mp4">
						Your browser does not support the video tag
					</video>
				</div>
			</div>
			<div class="card">
				<h3 class="card-header" id="buy">Купить</h3>
				<div class="card-body">
					<form>
						<p>
							<input type="text" name="first_name" placeholder="Имя *" width="50%" required>
							<input type="text" name="last_name" placeholder="Фамилия *" width="50%" required>
						</p>
						<p>
							<select required>
								<option value="">Код *</option>
								<option value="belarus">+375</option>
								<option value="poland">+48</option>
								<option value="russia">+7</option>
								<option value="ukraine">+380</option>
							</select>
							<input type="text" name="phone" placeholder="Телефон *" required pattern="[0-9]{,15}">
						</p>
						<p><input type="email" name="email" placeholder="E-Mail *" required></p>
						<p><textarea name="comment" placeholder="Комментарий"></textarea></p>
						<p>
							<input type="submit" value="Заказать">
							<input type="reset" value="Очистить">
						</p>
					</form>
				</div>
			</div>
		</main>
		<footer id="footer" class="card">
			<h3 class="card-header">Контакты</h3>
			<div class="card-body">
				<a class="btn up-btn" href="#" title="В начало">⬆</a>
				<a href="https://fb.com/VolvoTrucks/" target="_blank"><img src="img/social/fb.svg" alt="Facebook"></a>
				<a href="https://twitter.com/volvotrucks" target="_blank"><img src="img/social/twitter.svg" alt="Twitter"></a>
				<a href="https://youtube.com/VolvoTrucks" target="_blank"><img src="img/social/youtube.svg" alt="YouTube"></a>
				<p><img src="img/copyleft.svg" class="copyleft" alt="copyleft"> 2019 a.sinilo</p>
			</div>
		</footer>
	</body>
</html>